* {
    box-sizing: border-box;
    padding: 1;
    margin: 0px;
}

body {
    background-image: url(./images/vichy.png);
    background-color:rgb(255, 255, 255);
}

.header {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    outline: 3px black outset;
    background-image: url(./images/tileable-wood-colored.png);
    background-size:20%;
    background-color: #2a2222;
    margin-top: 30px;
}

.shrink {
    display: flex;
    max-width: 50%;
    height: 50%;
}

.myImage {
    max-width: 150px;
    max-height: 150px;
    margin: 0px 25px -60px 25px;
    border-radius: 25%;
}

.jumps {
    margin-left: 275px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    font-weight: bold;
    font-size: 25px;
}

header h1 {
display: inline-block;
font-size: 65px;
text-decoration: underline;
}

.header nav {
    display: flex;
    font-size: 28px;
    justify-content: flex-end;
    align-content: space-around;    
}
.name {
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
    margin: 0px 0px 0px 90px;
}


header a {
    color: white;
}

.aboutMeText {
    display: flex;
    margin-block-start: 5px;
    font-size: 36px;
    flex-wrap: wrap;
}

.aboutMe {
    font-family: monospace;
    display: inline-block;
    padding: 0px;
    margin: 50px 10px 60px 10px;
}

.aboutMeInfo {
    border-left: 5px rgb(0, 0, 0, 0.5) outset;
    padding-left: 45px;
    margin-right: 200px;
    font-size: 20px;
    flex-wrap: wrap;
    flex-direction: column;

    margin-top: 30px;
}
    
.workPhotos {
    justify-items: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: 20px;
}


#bigPic {
    box-shadow: 0px 0px 57px 15px rgb(247, 137, 47);
    width: 100%;
    border-radius: 5%;
    margin-bottom: 20px;
  }

#smallPic {
    margin: 50px 5px 40px 5px;
    box-shadow: 2px -5px 70px 12px rgb(90, 145, 228);
    border-radius: 5%;
}

#lowerPic {
    box-shadow: 2px -5px 70px 12px rgb(247, 137, 47);
    border-radius: 5%;
    margin-bottom: 20px;
    margin-top: 40px;
}

.aboutMe h2 {
    display: block;
    text-decoration: underline;
    align-items: center;
}

.links {
    font-size: 36px;
    margin: 125px 10px;
    border: #2a2222;
    background-color: rgb(0, 0, 0, 0.80);
    flex-wrap: wrap;
    min-width: 585px;
}

#one {
    display: flex;
    margin: 10px 10px;
    color: rgb(192, 131, 40);
}

#two {
    display: flex;
    margin: 10px 10px;
    color: white;
}

#three {
    font-style: italic;
    display: flex;
    margin: 10px 8px;
    color: rgb(248, 208, 133);
}

#four {
    display: flex;
    margin: 10px 10px;
    color: rgb(107, 199, 241);
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .workPhotos a:hover {
    margin: auto;
  }
  
  a:active {
    text-decoration:solid;
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: rgb(99, 104, 105);
    }
    .header {
        display: flex;
        width: 125vh;  
    }
    .aboutMe {
        display: flex;
        width: 120vh;
    }
    .links {
        display: flex;
        width: 120vh;
        margin: 0 auto;
    }
    .workPhotos {
        align-items: center;
        justify-items: center;
    }
    nav {
        flex-direction: column;
        height: fit-content;
    }
    nav ul li {
        flex-direction: column;
        width: 100%
    }
    nav .workPhotos {
        flex-direction: column;
        width: 100%  
    }
   .smallPic {
        flex-direction: column;
        width: 100%;
    }
  }