* {
    padding: 1;
    margin: 0px;
}

body {
    background-image: url(./images/vichy.png);
    background-color:rgb(255, 255, 255);
}

.header {
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(36, 110, 206);
    color: white;
    outline: 3px black outset;
    background-image: url(./images/tileable-wood-colored.png);
    background-size:auto;
    background-color: #2a2222;
    text-align: left;
}
.myImage {
    max-width: 150px;
    max-height: 150px;
    margin: 0px 25px -60px 25px;
    border-radius: 25%;
}

header h1 {
display: inline-block;
justify-content: center;
font-size: 65px;
text-decoration: underline;
text-align: center;
}

.name {
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
    margin: 0px 0px 0px 90px;
}

.header nav {
    display: inline;
    padding: 0px;
    float: right;
    margin-right: 75px;
    font-size: 28px;    
}

.header ul {
    list-style-type: none;
    color: white;
}

.header nav ul li {
    display: inline-block;
    margin: 0px 0px 25px 0px;
    padding: 5px;
}

header a {
    color: white;
}

.aboutMeText {
    float: left;
    margin-block-start: 5px;
    font-size: 36px;
    flex-wrap: wrap;
}

.aboutMe {
    font-family: monospace;
    display: inline-block;
    padding: 0px;
    margin: 50px 10px 60px 10px;
}

.aboutMeInfo {
    border-left: 5px rgb(0, 0, 0, 0.5) outset;
    margin-left: 185px;
    padding-left: 45px;
    margin-right: 200px;
    flex: wrap;
    font-size: 20px;
    font-weight: bold;
}
    
.workPhotos {
    display: inline-block;
    margin: 20px;
}
 
.column {
    width: 33.33%;
    padding: 5px;
  }

  #bigPic {
    float: left;
    box-shadow: 0px 40px 70px 0px;
    margin:105px 35px 130px 240px;
    padding: 0px;
  }

#smallPic {
    margin: 5px 5px 15px 5px;
    box-shadow: 0px 40px 70px 0px;
    padding: 0px;
}

#lowerPic {
    box-shadow: 0px 40px 70px 0px;
    padding: 0px;
}

.aboutMe h2 {
    display: block;
    text-decoration: underline;
    align-items: center;
}

.links {
    font-size: 36px;
    margin: 125px 10px;
    border: #2a2222;
    background-color: rgb(0, 0, 0, 0.75);
    border-radius: 5%;
}

#one {
    display: flex;
    margin: 10px 10px;
    color: rgb(192, 131, 40);
}

#two {
    display: flex;
    margin: 10px 10px;
    color: white;
}

#three {
    font-style: italic;
    display: flex;
    margin: 10px 8px;
    color: rgb(248, 208, 133);
}

#four {
    display: flex;
    margin: 10px 10px;
    color: rgb(107, 199, 241);
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline ;
  }
  
  a:active {
    text-decoration:solid;
  }

  @media screen {
    
  }